[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
mypy = "*"

[packages]
torch = "==1.4.0"
pandas = "*"
numpy = "*"
scikit-learn = "*"
lightgbm = "*"
torchvision = "==0.5.0"
pytorch-lightning = "==0.9.0"
opencv-python-headless = "*"
torchnet = "*"
notebook = "*"
ipywidgets = "*"
matplotlib = "*"
hydra-core = "*"
tensorboard = "*"
albumentations = "==0.5.0"
librosa = "==0.8.0"
timm = "==0.3.4"

[requires]
python_version = "3.6"
